doctype html
html(lang="ja")
  head
    meta(charset="utf-8")

    meta(name="viewport", content="initial-scale=1.0")

    block title
      title peco-webui

    script(src="/app/bundle.js" charset="utf-8")

  body
    header
      .example
      .content
        a(class="logo",href="/") peco-webui
    .content
      p hello world
